{% extends 'layout/layout.html' %}
{% block content %}

    <section class="cart bgwhite p-t-70 p-b-100">
		<div class="container">
			<!-- Cart item -->
			<div class="container-table-cart pos-relative">
				<div class="wrap-table-shopping-cart bg-primary">
					<table class="table-shopping-cart">
						<tbody>
						<tr class="table-row">
							<td align="center" style="font-size: 1cm;">
                                El Pago Se Realizo con Exito
                            </td>
						</tr>

					</tbody>

                    </table>
				</div>
			</div>
			</div>
		</div>
	</section>
{% endblock %}
